*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider-wrapper{
    display: flex;
    width:80vw;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
.btn-right,.btn-left{
min-width: 40px;
min-height: 40px;
}
.image {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
    position: absolute;
  }